@import '';

/* /Pages/ErrorPage.razor.rz.scp.css */
body[b-308mf5gxdf] {
}
/* /Pages/ForgotPassword.razor.rz.scp.css */
body[b-6qg3rj94px] {
}
/* /Pages/History.razor.rz.scp.css */
body[b-t8dya215d9] {
}
/* /Pages/Index.razor.rz.scp.css */
body[b-2duf3shgzp] {
}
/* /Pages/Login.razor.rz.scp.css */
.register-container[b-imfmol34rd] {
    width: 100%;
    padding-bottom: 420px;
}

.register-container .form-container[b-imfmol34rd] {
    display: table;
    width: 900px;
    height: 450px;
    margin: 0 auto;
    margin-top: 10%
}

.register-container form[b-imfmol34rd] {
    display: table-cell;
    width: 450px;
    background-color: #808080;
    padding: 50px 50px;
    color: #858AE3
}

@media (max-width:900px){
    .register-container form[b-imfmol34rd]{
        padding: 50px;
    }
}

.register-container h2[b-imfmol34rd] {
    text-align: end;
    margin-top: 7%;
    color: #97DFFC
}

.register-container form .form-control[b-imfmol34rd] {
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    text-indent: 0px;
    height: 50px;
    font-size: 15px;
    line-height: 22px;
}

.register-container form .btn-primary[b-imfmol34rd] {
    border: none;
    background: #858AE3;
    border-radius: 4px;
    padding: 10px;
    box-shadow: none;
    text-shadow: none;
    margin-top: 30px;
    outline: none !important
}

.register-container form .btn-primary:hover[b-imfmol34rd],
.register-container form .btn-primary:active[b-imfmol34rd] {
    background: #97DFFC
}

.register-container form .linko[b-imfmol34rd] {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #808080;
    opacity: 0.8;
    text-decoration: none
}
/* /Pages/Prediction.razor.rz.scp.css */
body[b-eii4m5rr9u] {
}
/* /Pages/Register.razor.rz.scp.css */
body[b-xyb23p5rdq] {
}
/* /Shared/LoginLayout.razor.rz.scp.css */
.page[b-iqht6dlzdd] {
    display: flex;
    position: relative;
    flex-direction: column;
}

.main[b-iqht6dlzdd] {
    flex: 1;
    height: 120vh;
    background-color: #613DC1;
    background-position: center;
    background-size: cover;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-p9woiry1hf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-p9woiry1hf] {
    flex: 1;
}

.sidebar[b-p9woiry1hf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-p9woiry1hf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-p9woiry1hf]  a, .top-row .btn-link[b-p9woiry1hf] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-p9woiry1hf] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-p9woiry1hf] {
        display: none;
    }

    .top-row.auth[b-p9woiry1hf] {
        justify-content: space-between;
    }

    .top-row a[b-p9woiry1hf], .top-row .btn-link[b-p9woiry1hf] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-p9woiry1hf] {
        flex-direction: row;
    }

    .sidebar[b-p9woiry1hf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-p9woiry1hf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-p9woiry1hf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-mtse7z0j87] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-mtse7z0j87] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-mtse7z0j87] {
    font-size: 1.1rem;
}

.oi[b-mtse7z0j87] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-mtse7z0j87] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-mtse7z0j87] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-mtse7z0j87] {
        padding-bottom: 1rem;
    }

    .nav-item[b-mtse7z0j87]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-mtse7z0j87]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-mtse7z0j87]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-mtse7z0j87] {
        display: none;
    }

    .collapse[b-mtse7z0j87] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
