/* /Pages/ErrorPage.razor.rz.scp.css */
.err[b-308mf5gxdf] {
    font-size: 25px;
    color: black;
    font-family: Century Gothic;
    position: absolute;
}
/* /Pages/ForgotPassword.razor.rz.scp.css */
body[b-6qg3rj94px] {
}
/* /Pages/History.razor.rz.scp.css */
body[b-t8dya215d9] {
}
/* /Pages/Index.razor.rz.scp.css */
.title[b-2duf3shgzp] {
    font-family: Century Gothic;
    font-size: 10vh;
    color: #F8F7FF;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.buttons[b-2duf3shgzp] {
    margin-top: 50px;
    position: absolute;
    color: #858AE3;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#login[b-2duf3shgzp] {
    font-family: Century Gothic;
    width: 30vh;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #858AE3;
    text-decoration: none;
}

#register[b-2duf3shgzp] {
    font-family: Century Gothic;
    width: 30vh;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #858AE3;
    text-decoration: none;
}
/* /Pages/Login.razor.rz.scp.css */
.login-container[b-imfmol34rd] {
    width: 100%;
    padding-bottom: 420px;
}

    .login-container .form-container[b-imfmol34rd] {
        display: table;
        width: 550px;
        height: 325px;
        margin: 0 auto;
        margin-top: 10%
    }

    .login-container form[b-imfmol34rd] {
        width: 450px;
        display: table-cell;
        background-color: #858AE3;
        padding: 50px 50px;
        color: #858AE3
    }


    .login-container h2[b-imfmol34rd] {
        text-align: center;
        margin-top: 5%;
        color: #F8F7FF
    }

    .login-container form .form-control[b-imfmol34rd] {
        border: none;
        background: transparent;
        box-shadow: none;
        outline: none;
        border-bottom: 1px solid #dfe7f1;
        border-radius: 0;
        text-indent: 0px;
        height: 50px;
        font-size: 15px;
        line-height: 22px;
    }

    .login-container form .linko[b-imfmol34rd] {
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 12px;
        color: #F8F7FF;
        opacity: 0.8;
        text-decoration: none
    }


h1[b-imfmol34rd] {
    font-family: Century Gothic;
    font-size: 60px;
    line-height: 22px;
    font-weight: 200;
    color: #F8F7FF;
    padding: 80px 0px 20px 0px;
    margin: 0
}
/* /Pages/Prediction.razor.rz.scp.css */
.prediction-container[b-eii4m5rr9u] {
    width: 100%;
    padding-bottom: 420px;
}

    .prediction-container .form-container[b-eii4m5rr9u] {
        display: table;
        width: 550px;
        height: 325px;
        margin: 0 auto;
        margin-top: 10%
    }

    .prediction-container form[b-eii4m5rr9u] {
        width: 450px;
        display: table-cell;
        background-color: #858AE3;
        padding: 50px 50px;
        color: #858AE3
    }

    .prediction-container h4[b-eii4m5rr9u] {
        font-family: Century Gothic;
        font-size: 60px;
        line-height: 22px;
        font-weight: 200;
        color: #F8F7FF;
        padding: 80px 0px 20px 0px;
        margin: 0
    }

    .prediction-container form .form-control[b-eii4m5rr9u] {
        border: none;
        background: transparent;
        box-shadow: none;
        outline: none;
        border-bottom: 1px solid #dfe7f1;
        border-radius: 0;
        text-indent: 0px;
        height: 50px;
        font-size: 15px;
        line-height: 22px;
    }
/* /Pages/Profile.razor.rz.scp.css */
body[b-2ga2atsq36] {
}
/* /Pages/Register.razor.rz.scp.css */
.register-container[b-xyb23p5rdq] {
    width: 100%;
    padding-bottom: 420px;
}

    .register-container .form-container[b-xyb23p5rdq] {
        display: table;
        width: 800px;
        height: 50vh;
        margin: 0 auto;
        margin-top: 100px;
    }

    .register-container form[b-xyb23p5rdq] {
        width: 500px;
        display: table-cell;
        background-color: #858AE3;
        padding: 20px 40px;
        color: #858AE3;
        margin-right: 200px;
    }

h3[b-xyb23p5rdq] {
    font-family: Century Gothic;
    font-size: 60px;
    line-height: 22px;
    font-weight: 200;
    color: #F8F7FF;
    padding: 80px 0px 20px 0px;
    margin: 0
}

.register-cointainer form .form-control[b-xyb23p5rdq] {
    padding-right: 310px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.links[b-xyb23p5rdq] {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #F8F7FF;
    opacity: 0.8;
    text-decoration: none
}

/* /Shared/LoginLayout.razor.rz.scp.css */
.page[b-iqht6dlzdd] {
    display: flex;
    position: relative;
    flex-direction: column;
}

.main[b-iqht6dlzdd] {
    flex: 1;
    height: 120vh;
    background-color: #B8B8FF;
    background-position: center;
    background-size: cover;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-p9woiry1hf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-p9woiry1hf] {
    flex: 1;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://i.imgur.com/nf9IQ0Y.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.sidebar[b-p9woiry1hf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-p9woiry1hf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row a:first-child[b-p9woiry1hf] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-p9woiry1hf] {
        display: none;
    }

    .top-row.auth[b-p9woiry1hf] {
        justify-content: space-between;
    }

    .top-row a[b-p9woiry1hf], .top-row .btn-link[b-p9woiry1hf] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-p9woiry1hf] {
        flex-direction: row;
    }

    .sidebar[b-p9woiry1hf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-p9woiry1hf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-p9woiry1hf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-mtse7z0j87] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-mtse7z0j87] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-mtse7z0j87] {
    font-size: 1.1rem;
}

.oi[b-mtse7z0j87] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-mtse7z0j87] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-mtse7z0j87] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-mtse7z0j87] {
        padding-bottom: 1rem;
    }

    .nav-item[b-mtse7z0j87]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-mtse7z0j87]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-mtse7z0j87]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-mtse7z0j87] {
        display: none;
    }

    .collapse[b-mtse7z0j87] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
