.register-container {
    width: 100%;
    padding-bottom: 420px;
}

.register-container .form-container {
    display: table;
    width: 900px;
    height: 450px;
    margin: 0 auto;
    margin-top: 10%
}

.register-container form {
    display: table-cell;
    width: 450px;
    background-color: #808080;
    padding: 50px 50px;
    color: #858AE3
}
